.App {
  text-align: center;
  background-color: black;
}

/*.App-logo {*/
  /*height: 40vmin;*/
/*}*/

/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

/*.App-link {*/
  /*color: #09d3ac;*/
/*}*/


.background {
  height: 100vh;
  backgroundPosition: center;
  backgroundRepeat: no-repeat;
  backgroundSize: cover;
}

.section-title {
  font-size: 80px;
  color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.title-right {
  display: flex;
  justify-content: flex-start;

}